Flask
Flask-Cors
Flask-SQLAlchemy
Flask_Migrate
flask_jwt_extended
Flask-Mail
Flask-Serialize
sqlalchemy_utils
phue
python-dotenv
PyJWT
psycopg2-binary==2.8.6
Psycopg2
pylint
werkzeug
celery
redis
flower
sqlalchemy
requests
IPy
pydig
tinder
twilio
flask_monitoringdashboard
pytest